* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "karla", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  height: 90px;
  padding: 30px;
}

.header-logo {
  height: 70px;
  width: 70px;
}
.header-title {
  padding-left: 30px;
}
.header-text {
  padding-left: 820px;
}

form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form-button {
  font-family: "karla", sans-serif;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  cursor: pointer;
  border: none;
  grid-column: 1/-1;
}
.form-input {
  border: 1px solid;
  border-radius: 5px;
  text-indent: 5px;
  font-family: "karla", sans-serif;
}
main {
  padding: 36px;
}
