* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
  height: 100vh;
  background-color: #282d35;
}

nav {
  display: flex;
  align-items: center;
  background-color: #21222a;
  height: 90px;
  padding: 30px 25px;
}

.nav--logo_text,
.nav--title {
  margin: 0;
}

.nav--icon {
  height: 45px;
  margin-right: 7px;
}

.nav--logo_text {
  margin-right: auto;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;
}

main {
  padding: 57px 27px;
  color: white;
  background-image: url("./images/Biglogo.png");
  background-repeat: no-repeat;
  background-position: 107% 60%;
}

.main--title {
  margin: 0;
  font-size: 39px;
  letter-spacing: -0.05em;
}

.main--facts {
  margin-top: 46px;
  max-width: 400px;
}
/* padding block will create space between contents of block */
.main--facts > li {
  line-height: 19px;
  padding-block: 10px;
}
/*  adding color to bullets :: marker is used */
.main--facts > li::marker {
  font-size: 1.4rem;
  color: #61dafb;
}
.toggler {
  display: flex;
  align-items: center;
}

.toggler p {
  font-size: 30px;
  font-weight: bold;
}

.toggler--slider {
  width: 32px;
  height: 18px;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid black;
  border-radius: 25px;
}

.toggler--light {
  padding-right: 8px;
  color: white;
}

nav.dark .toggler--light {
  color: #918e9b;
}

.toggler--dark {
  padding-left: 8px;
  color: #918e9b;
}

nav.dark .toggler--dark {
  /* when darkmode on dark word will white  */
  color: white;
}
main.dark {
  background-color: #282d35;
  color: white;
}

main.light {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
body.light {
  color: black;
}
